*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid black;
    width: 700px;
    box-shadow: 1px 1px 2px 2px;
}
.container .header{
    height: 40px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h2{
    color: green;
}
.container p{
    color: blue;
}